Repository dsc-tiu/open-source-ml-ai, pull requests merged in 2022-10, with the labels that each got.

#13 Linear_Regression
  Linear_Regression/Documentation.md
  Linear_Regression/Linear_Regression.ipynb
Labels: hacktoberfest, hacktoberfest-starters, intermediate-ml, code and documentation, hacktoberfest-accepted

#14 Added python code and documentation for Data Types in Python
  Python/Data Types in Python/DataTypes.md
  Python/Data Types in Python/DataTypes.py
Labels: hacktoberfest, hacktoberfest-starters, code and documentation, hacktoberfest-accepted

#16 DataScience_ML_Property_Price_Prediction_model.ipynb
  Linear_Regression/DataScience_MLproject_Property_Price_Prediction_model.ipynb
Labels: hacktoberfest, hacktoberfest-starters, hacktoberfest-accepted, code only

#17 Added Median Filter implementation in Image Processing
  Image Processing/Median-Filter-implementation/Median_Filter_implementation.md
  Image Processing/Median-Filter-implementation/Median_Filter_implementation.py
  Image Processing/Median-Filter-implementation/imgs/img_ex.jpg
  Image Processing/Median-Filter-implementation/imgs/img_result.jpg
Labels: hacktoberfest, advanced-ml, code and documentation, hacktoberfest-accepted

#18 Add_Neural_Networks(Deep_Learning)
  Neural_Networks/Documentation.md
  Neural_Networks/Neural_Networks.(1_hidden_layer).ipynb
  Neural_Networks/Neyral_Networks(2_hidden_layers).ipynb
Labels: hacktoberfest, advanced-ml, code and documentation, hacktoberfest-accepted

#20 Natural_Language_Processing
  Natural_Language_Processing/Documentation.md
  Natural_Language_Processing/NLP.ipynb
Labels: hacktoberfest, advanced-ml, code and documentation, hacktoberfest-accepted

#22 Matplotlib Implementation
  Data science/titanic/Matplotlib Implementation/Matplotlib Implemenataion.md
  Data science/titanic/Matplotlib Implementation/Matplotlib Implementation.ipynb
  Data science/titanic/titanic.ipynb
Labels: hacktoberfest, hacktoberfest-starters, intermediate-ml, code and documentation, hacktoberfest-accepted

#23 Update
  Python/NumPy arrays/NumPy arrays.ipynb
  Python/NumPy arrays/NumPy arrays.md
Labels: hacktoberfest, hacktoberfest-starters, intermediate-ml, code and documentation, hacktoberfest-accepted

#25 Email Spam Detection
  Data science/email spam/spam.csv
  Data science/email spam/spam_email.ipynb
Labels: hacktoberfest, intermediate-ml, hacktoberfest-accepted, code only

#26 KNN implementation
  MLSelfImplementedAlgos/KNN/Documentation.md
  MLSelfImplementedAlgos/KNN/KNN_Implementation.ipynb
Labels: hacktoberfest, intermediate-ml, code and documentation, hacktoberfest-accepted

#28 MSE
  MLSelfImplementedAlgos/Error Metrics/Mean Squared Error/Dataset Mean squared error.csv
  MLSelfImplementedAlgos/Error Metrics/Mean Squared Error/DocumentationMSE.md
  MLSelfImplementedAlgos/Error Metrics/Mean Squared Error/Mean Squared Error.ipynb
Labels: hacktoberfest, hacktoberfest-starters, code and documentation, hacktoberfest-accepted

#29 Added Mean Absolute Error code and readme
  MLSelfImplementedAlgos/Error Metrics/Mean Absolute Error/DocumentationMAE.md
  MLSelfImplementedAlgos/Error Metrics/Mean Absolute Error/Mean Absolute Error.ipynb
Labels: hacktoberfest, hacktoberfest-starters, code and documentation, hacktoberfest-accepted

#30 Added Root Mean Square Error code and readme
  MLSelfImplementedAlgos/Error Metrics/Root Mean Squared Error/DocumentationRMSE.md
  MLSelfImplementedAlgos/Error Metrics/Root Mean Squared Error/Root Mean Squared Error.ipynb
Labels: hacktoberfest, hacktoberfest-starters, code and documentation, hacktoberfest-accepted

#32 Bank Analyze
  Bank analyse/banking-analyze.ipynb
  Bank analyse/data.csv
  Bank analyse/final.csv
  Bank analyse/test_data.csv
Labels: hacktoberfest, intermediate-ml, code and documentation, hacktoberfest-accepted
